name: test
on: [push, pull_request]
env:
  CI: true
jobs:
  test:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4

      - name: Use Node.js v20.18.0
        uses: actions/setup-node@v4
        with:
          node-version: '20.18.0'

      - name: Use pnpm
        uses: pnpm/action-setup@v2

      - name: Install
        run: pnpm install --frozen-lockfile --strict-peer-dependencies

      - name: Lint
        run: pnpm lint

      - name: Test
        run: pnpm test
