name: test
on: [push, pull_request]
env:
  CI: true
jobs:
  test:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3

      - name: Use Node.js v18.18.2
        uses: actions/setup-node@v3
        with:
          node-version: '18.18.2'

      - name: Use pnpm
        uses: pnpm/action-setup@v2

      - name: Install
        run: pnpm install --frozen-lockfile --strict-peer-dependencies

      - name: Lint
        run: pnpm lint

      - name: Test
        run: pnpm test
