name: test
on: [push, pull_request]
env:
  CI: true
jobs:
  test:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3
      - name: Use Node.js v16.18.0
        uses: actions/setup-node@v3
        with:
          node-version: '16.18.0'
      - name: Install
        run: yarn install
      - name: Lint
        run: yarn lint
      - name: Test
        run: yarn test
